importFrom(digest, digest)
import(data.table)

export(VisitExpression)
export(FindFunctions)
export(ParsePackage, ParseFile, ParseText)
export(FindClones)
export(CodingStyle)
S3method(CodingStyle, package.code)
S3method(CodingStyle, expression)
