importFrom(digest, digest)
import(data.table)

export(ParsePackage, ParseFile, ParseText)
export(VisitExpression)
export(FunctionDefinitions)
S3method(FunctionDefinitions, package.code)
S3method(FunctionDefinitions, expression)
export(FunctionCalls)
S3method(FunctionCalls, package.code)
S3method(FunctionCalls, expression)
export(Clones)
S3method(Clones, list)
S3method(Clones, package.code)
S3method(Clones, expression)
export(CodingStyle)
S3method(CodingStyle, package.code)
S3method(CodingStyle, expression)
